.container, .header{
  width: 100vw;
  text-align: center;
}
.quest{
  display: inline-block;
  border: 1px solid black;
  box-shadow: 0px 0px 2px 1px #888888;
  text-align: center;
  width: 20%;
  padding: 0px 20px 60px 20px;
}
.quest+.quest{
  margin-left: 10%;
}
